* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  color: rgba(52, 51, 51)
}

/* BEGIN HOME */

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 10%;
}

.home-crumbs {
  margin-top: 20px;
  font-size: 4vw;
  font-weight: 600;
}

.copyright {
  font-size: 1vw;
}

.accounting {
  font-size: 2vw;
  font-weight: 400;
  margin-top: 10px;
}

.home-page img {
  max-width: 80%;
  height: auto;
}

/* END HOME */

/* BEGIN SIGN UP */
.signup-background {
    height: 100%;
    min-height: 100vh;
    background-image: url('./assets/CaramelChocChip_sash-1-1.jpg');
    background-repeat: repeat; 
    background-size: 185px 150px; 
    background-blend-mode: lighten; 
    background-color: rgba(255, 255, 255, 0.9); 
}

/* END SIGN UP */

/* BEGIN DASHBOARD */

/* Spinner styles */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* END DASHBOARD */
