* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Inter', sans-serif;
  color: rgba(52, 51, 51)
}

/* BEGIN HOME */
.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  
}

.home-crumbs {
  padding-top: 40px;
  font-size: 55px;
  font-weight: 600;
}

.copyright {
  font-size: 12px;
}

.accounting {
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
}

/* END HOME */
